
#carousel {
   height: 400px;
   width: 600px ;
    margin-top:5%;
    margin-bottom:5% ;
    margin-left:30% ;
    text-align: center;
}

#photo1 {
    width: 600px;
    height: 400px;
    text-align: center;
} 
#photo2 {
    width: 600px;
    height: 400px;
    text-align: center;
    
}  
#photo3 {
    width: 600px;
    height: 400px;
    text-align: center;
} 
#photo4 {
    width: 600px;
    height: 400px;
    text-align: center;
}
#form {
    margin: 5%;
}
#notification {
    background-color: rgb(23, 226, 226);
}
#title {
    text-align: center;
    
}
