
#carousel {
   height: 400px;
    margin: 5%;
}

#photo1 {
    width: 500px;
    height: 400px;
    text-align: center;
} 
#photo2 {
    width: 800px;
    height: 400px;
    text-align: center;
}  
#photo3 {
    width: 600px;
    height: 400px;
    text-align: center;
} 
#photo4 {
    width: 600px;
    height: 400px;
    text-align: center;
}
#form {
    margin: 5%;
}
#notification {
    background-color: rgb(23, 226, 226);
}
